<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Registration</title>

</head>
<body>

    <form action="register" method="post">{% csrf_token %}
    <input type="text" name="first_name" placeholder="first_name"><br>
    <input type="text" name="last_name" placeholder="last_name"><br>
    <input type="text" name="username" placeholder="UserName"><br>
    ROLE:<BR/>
        <label for="ta">TA</label>
        <input type="radio" name="role" id="ta" value="Ta"><br>
        <label for="manager">MANAGER</label>
        <input type="radio" name="role" id="manager" value="Manager"><br>
        
       
    <input type="email" name="email" placeholder="Email"><br>
    <input type="password" name="password1" placeholder="pswd"><br>
    <input type="password" name="password2" placeholder="confirm pswd"><br>


    <input type="Submit">
    </form>
</body>
</html>  