<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
    <p> hii</p>
    <p> {{user.user.username}}</p>

    <a href="/logout">logout</a>

    <p>{{student.first_name}}</p>
    <p>{{student.last_name}}</p>

    <form action="{% url "app1:student" student_id=student.number %}" method="post">
        {% csrf_token %}
        <input type="checkbox" id="discrepency" name="discrepency">
        <label for="discrepency">Discrepency</label><br>
        <input type="text" name="comment" placeholder="type the comment here">
        <input type="Submit">
    </form>

    
 
    <html><html>
        <head>
        <head>


</body>
</html>